/* Estilos Base - index / inicio */

/* Header y Nav */
.main-header {
    background: linear-gradient(95deg, #5e17eb, #7c3aed);
    color: white;
    padding: 18px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 15px rgba(94, 23, 235, 0.2);
}

.menu-icon { cursor: pointer; font-size: 1.4rem; transition: transform 0.2s;}
.menu-icon:active { transform: scale(0.9); }

.app-title { font-size: 1.5rem; flex-grow: 1; text-align: center; margin-right: 30px; font-weight: 800; letter-spacing: 1px;}

.sub-nav {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border-radius: 0 0 20px 20px;
}

.nav-item {
    flex: 1;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #5e17eb;
    font-weight: 600;
    font-size: 1rem;
    transition: background 0.3s;
}

.nav-item:first-child { border-right: 1px solid #f1f5f9; }
.nav-item:hover { background-color: #f8fafc; }


/* Pantalla de Bienvenida */
.welcome-screen {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #64748b;
}

.icon-container { font-size: 5rem; color: #cbd5e1; margin-bottom: 20px; }
.welcome-text { font-size: 2rem; font-weight: 300; }

/* MENÚ LATERAL (NUEVO) */
.menu-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 998;
}

.side-menu {
    position: fixed;
    top: 0; left: -280px; /* Escondido */
    width: 280px; height: 100%;
    background: white;
    z-index: 999;
    transition: 0.3s ease-in-out;
    padding: 30px 20px;
    box-shadow: 4px 0 10px rgba(0,0,0,0.1);
}

.side-menu.active { left: 0; }
.menu-overlay.active { display: block; }

.menu-header-profile {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #f1f5f9;
    padding-bottom: 20px;
}

.menu-header-profile i { font-size: 4rem; color: #6a96f1; display: block; margin-bottom: 10px; }
.menu-header-profile span { font-weight: 600; color: #334155; }

.menu-items a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    text-decoration: none;
    color: #475569;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: 5px;
}

.menu-items a:hover { background: #f1f5f9; }
.menu-items hr { border: 0; border-top: 1px solid #f1f5f9; margin: 15px 0; }

.logout-link { color: #ef4444 !important; }
.logout-link:hover { background: #fef2f2 !important; }